## Final-Project
#### MSSV : 19120602  . Họ và tên : Hồ Hữu Ngọc
#### MSSV : 19120562  . Họ và tên : Lê Thành Lộc

## Import các thư viện cần thiết

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

---

## Thu thập dữ liệu

Dữ liệu này là bộ dữ liệu bán hàng của một công ty nào đó có sẵn do bọn em tìm được từ một github được public [Đường dẫn tới github](https://github.com/boringPpl/Sales-Reporting/tree/main/data). Bộ dữ liệu có tất cả là 12 file lẻ mỗi file khoảng 13 nghìn dòng. Tuy vậy bọn em đã merge các file lại theo cách thủ công để tiện sử dụng luôn cho đồ án lần này.

---

## Khám phá dữ liệu

### Đọc dữ liệu vào dataframe

In [3]:
sales_df = pd.read_csv('./data/sales.csv')
sales_df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"

### Dữ liệu gồm có bao nhiêu dòng và bao nhiêu cột?

In [7]:
num_rows, num_cols = sales_df.shape
print("Dữ liệu bao gồm",num_cols,"cột và",num_rows,"dòng ")

Dữ liệu bao gồm 6 cột và 186849 dòng

### Mỗi dòng có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?

Mỗi dòng thể hiện một sản phẩm được bán ra. Và có vẻ như không có dòng nào có ý nghĩa khác nhau.

### Dữ liệu có các dòng bị lặp không?

In [12]:
num_duplicated = sales_df.duplicated().sum()
print("Dữ liệu có",num_duplicated,"dòng bị lặp")

Dữ liệu có  1161 dòng bị lặp

### Mỗi cột có ý nghĩa gì?

**Vấn đề cần tiền xử lý:**

---

## Tiền xử lý

---

## Khám phá dữ liệu

### Với mỗi cột có kiểu dữ liệu dạng numeric, các giá trị được phân bố như thế nào? (0.5đ)

### Với mỗi cột có kiểu dữ liệu dạng categorical, các giá trị được phân bố như thế nào? (0.75đ)

---

## Đưa ra các câu hỏi cần trả lời

### Câu hỏi 1:

### Câu hỏi 2

## Tiền xử lý

---

## Phân tích dữ liệu để trả lời cho các câu hỏi

Code bước 1.

Code bước 2.

## Trả lời câu hỏi