## Final-Project
#### MSSV : 19120602  . Họ và tên : Hồ Hữu Ngọc
#### MSSV : 19120562  . Họ và tên : Lê Thành Lộc

## Import các thư viện cần thiết

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

---

## Thu thập dữ liệu

#### Dữ liệu này là bộ dữ liệu bán hàng của một siêu thị bọn em tìm được từ kaggle được public [Đường dẫn tới kaggle](https://www.kaggle.com/aungpyaeap/supermarket-sales). Dữ liệu này là các hóa đơn từ các chi nhánh của siêu thị lưu lại.
#### Context :
The growth of supermarkets in most populated cities are increasing and market competitions are also high. The dataset is one of the historical sales of supermarket company which has recorded in 3 different branches for 3 months data. Predictive data analytics methods are easy to apply with this dataset.
#### Description
Attribute information
Invoice id: Computer generated sales slip invoice identification number
Branch: Branch of supercenter (3 branches are available identified by A, B and C).
City: Location of supercenters
Customer type: Type of customers, recorded by Members for customers using member card and Normal for without member card.
Gender: Gender type of customer
Product line: General item categorization groups - Electronic accessories, Fashion accessories, Food and beverages, Health and beauty, Home and lifestyle, Sports and travel
Unit price: Price of each product in $
Quantity: Number of products purchased by customer
Tax: 5% tax fee for customer buying
Total: Total price including tax
Date: Date of purchase (Record available from January 2019 to March 2019)
Time: Purchase time (10am to 9pm)
Payment: Payment used by customer for purchase (3 methods are available – Cash, Credit card and Ewallet)
COGS: Cost of goods sold
Gross margin percentage: Gross margin percentage
Gross income: Gross income
Rating: Customer stratification rating on their overall shopping experience (On a scale of 1 to 10)
#### Dữ liệu này được tác giả cho phép sử dụng với mục đích phân tích hoặc các mục đích khác
#### License : Other ("This dataset can be used for predictive data analytics purpose")

---

## Khám phá dữ liệu

### Đọc dữ liệu vào dataframe

In [2]:
sales_df = pd.read_csv('./data/sales.csv')
sales_df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

### Dữ liệu gồm có bao nhiêu dòng và bao nhiêu cột?

In [3]:
num_rows, num_cols = sales_df.shape
print('Dữ liệu bao gồm {} dòng và {} cột'.format(num_rows, num_cols))

Dữ liệu bao gồm 1000 dòng và 17 cột

### Mỗi dòng có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?

Mỗi dòng thể hiện hóa đơn của một sản phẩm được bán ra. Và có vẻ như không có dòng nào có ý nghĩa khác nhau.

### Dữ liệu có các dòng bị lặp không?

In [4]:
num_duplicated = sales_df.duplicated().sum()
print("Dữ liệu có",num_duplicated,"dòng bị lặp")

Dữ liệu có 0 dòng bị lặp

### Mỗi cột có ý nghĩa gì?

**Vấn đề cần tiền xử lý:**

---

## Tiền xử lý

---

## Khám phá dữ liệu

### Với mỗi cột có kiểu dữ liệu dạng numeric, các giá trị được phân bố như thế nào? (0.5đ)

### Với mỗi cột có kiểu dữ liệu dạng categorical, các giá trị được phân bố như thế nào? (0.75đ)

---

## Đưa ra các câu hỏi cần trả lời

### Câu hỏi 1:

### Câu hỏi 2

## Tiền xử lý

---

## Phân tích dữ liệu để trả lời cho các câu hỏi

Code bước 1.

Code bước 2.

## Trả lời câu hỏi